*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.acf{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    color: #ffffff;
    background-color: blue;
    font-size: 1.2rem;
}
.logo{
    flex: 1;
    background: #FF416C;
}
.nv{
    background: #FF416C;

}
nav ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    background: #FF416C;

}
nav ul li{
    list-style-type: none;
    cursor: pointer;
    color: white;
}
main{
    padding: 1rem;
    width: 100%;
}
.movie-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.movie-holder a{
    flex: 1;
    text-align: center;
    font-size: 25px;
    color: #FF416C;
    text-decoration: none;
}
#loader{
    position: relative;
    height: 60px;
    width: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 10px solid #ccc;
}
#loader::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: calc(100% + 22px);
    width: calc(100% + 22px);
    top: -11px;
    left: -11px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #081563 transparent transparent transparent;
    animation: rotate .6s linear infinite;
}
.movie-img-wrapper{
    background-size: cover;
    width: auto;
    height: 250px;
}
#booker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#booker-grid-holder{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 2rem;
}
.booking-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    height: 150px;
    width: 200px;
    color: #fff;
    font-weight: 600;
}
#confirm-purchase{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
}
#booking-grid-undefined{
    font-size: auto;
}
.seat{
    display: grid;
    place-content: center;
    /* background-color: pink; */
}
.available-seat{
    background-color: green;
}
.unavailable-seat{
    background-color: red;
}
.select-seat{
    border:4px outset rgb(0, 0, 0);
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}
input{
    background-color: rgb(143, 84, 84);
    border-radius: 10px;
    width: 400px;
    height: 35px;
    padding: .6rem 1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
input::placeholder{
    color: white;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#book-ticket-btn{
    padding: 0.6rem 1rem;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    background-color: green;
    transition: all 0.3s linear;
}
#book-ticket-btn:hover{
    color: black;
    transform: scale(1.1);
    background-color: yellowgreen;
}

#submitBtn{
    display: block;
    width: 200px;
    margin: auto;
    padding: 0.6rem 1rem;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(186, 31, 181);
    transition: all 0.3s linear;
}
#submitBtn:hover{
    color: black;
    background-color: yellowgreen;
}
#confirm-purchase h3{
    margin-bottom: 1rem;
}

#overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
}
#modal{
    text-align: center;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 2rem;
    z-index: 1000;
    left: 30%;
    top: 30%;
    background-color: white;
}
#modalClose{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: rgb(119, 167, 208);
    border-radius: 5px;
    color: white;
    text-align: center;
}

#modalPara{
    font-size: 1.3rem;
    text-align: center;
    /* font-weight: bold; */
    margin: 2rem;
    padding: 2rem;
}